/* CSS reset */
* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  fieldset,
  input,
  textarea,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  fieldset,
  img {
    border: 0;
  }
  input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
  }
  address,
  caption,
  cite,
  code,
  dfn,
  th,
  var {
    font-style: normal;
    font-weight: normal;
  }
  ol,
  ul {
    list-style: none;
  }
  caption,
  th {
    text-align: left;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-weight: normal;
  }
  q:before,
  q:after {
    content: "";
  }
  abbr,
  acronym {
    border: 0;
  }

/* Container */

.container{
  max-width: 660px;
  margin: 0 auto;
}

/* Header Section */

header{
  background-color: rgb(18, 26, 60);
}

nav ul{
  text-align: center;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  display: inline-block;
  color: #fff;
  padding: 8px;
  margin: 12px 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}

nav ul li a:hover, .active{
  color: rgb(46, 149, 46);
}

/* Main Section */

.main-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin: 50px 0px 24px 0px;
  word-spacing: 2px;
}

/* first Section */

.first-sec {
  padding: 0px 0px 36px 0px;
  width: 100%;

}

.heading{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
/* 
box-1 */

.box {
  width: 140px;
  height: 140px;
  background-color: #99D8CA;
  border: 16px solid #5873E2;
  outline: 3px solid #0D1430;
  box-shadow: 0px 0px 0px 20px #90FFA9;
  margin: 36px auto;
  border-radius: 8px;
}

.first-sec ul {
  margin-top: 19px;
  text-align: center;
}

.first-sec ul li {
  margin: 0px 12px;
  display: inline-block;
}

.circle-box {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

.name {
  text-align: center;
  margin-left: 4px;
  font-size: 15px;
  font-weight: 600;
}

.content {
  background-color: #99D8CA;
}

.padding {
  background-color: #0D1430;
}

.border {
  background-color: #90FFA9;
}

.margin {
  background-color: #5873E2;
}

/* Second Section */
.second-sec {
  width: 100%;
}

/* Box */

.parent{
    display: inline-block;
    text-align: center;
    margin: 36px 0px;
    width: 100%;
}

.parent p{
   margin-bottom: 24px;
   font-size: 18px;
   word-spacing: 3px;
}

.child{
  font-size: 0;
  border: 1px solid gray;
  width: 600px;
  text-align: start;
}

.child span{
    display: inline-block;
    margin: 9px;
    background-color: lightgray;
    width: 180px;
    height: 100px;
}


.border{
 border: 1px solid gray;
}

hr{
  width: 500px;
  border-style: dashed;
  border-color: gray;
}

.border-box{
  box-sizing: border-box;
}
